<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginServlets</display-name>
    <servlet-name>LoginServlets</servlet-name>
    <servlet-class>com.exam.web.LoginServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlets</servlet-name>
    <url-pattern>/LoginServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDa</display-name>
    <servlet-name>LoginDa</servlet-name>
    <servlet-class>com.exam.db.LoginDa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDa</servlet-name>
    <url-pattern>/LoginDa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseAuthenication</display-name>
    <servlet-name>CourseAuthenication</servlet-name>
    <servlet-class>com.exam.web.CourseAuthenication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseAuthenication</servlet-name>
    <url-pattern>/CourseAuthenication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDao</display-name>
    <servlet-name>CourseDao</servlet-name>
    <servlet-class>com.exam.web.course.CourseDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDao</servlet-name>
    <url-pattern>/CourseDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.exam.web.course.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailServletTesting</display-name>
    <servlet-name>EmailServletTesting</servlet-name>
    <servlet-class>com.exam.web.course.EmailServletTesting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServletTesting</servlet-name>
    <url-pattern>/EmailServletTesting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomMailSender</display-name>
    <servlet-name>CustomMailSender</servlet-name>
    <servlet-class>com.exam.web.course.CustomMailSender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomMailSender</servlet-name>
    <url-pattern>/CustomMailSender</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyMailCode</display-name>
    <servlet-name>VerifyMailCode</servlet-name>
    <servlet-class>com.exam.web.course.VerifyMailCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyMailCode</servlet-name>
    <url-pattern>/VerifyMailCode</url-pattern>
  </servlet-mapping>
</web-app>